/* Write your CSS here */
.listItem {
  text-align: center;
  color: black;
  background-color: #1e293b;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.avatar {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  margin-left: 50px;
}
.heading {
  color: white;
  font-size: 16px;
}
.image {
  height: 20px;
  width: 20px;
}
.starsCount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.paragraph {
  color: white;
}
